:root {
    --color-bg: #151515;
    --color-text: #ffffff;
    --color-primary: #479AFA;
}
@font-face {
    font-family: "ClearSans-Regular";
    src: url(../fonts/ClearSans/ClearSans-Regular.ttf);
}
@font-face {
    font-family: "ClearSans-Light";
    src: url(../fonts/ClearSans/ClearSans-Light.ttf);
}
@font-face {
    font-family: "ClearSans-Thin";
    src: url(../fonts/ClearSans/ClearSans-Thin.ttf);
}

* {
    // box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: "ClearSans-Thin";
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
}

.navbar {
    max-width: 100%;
    height: 100px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    // background-color: rgba(255, 255, 255, 0.5);

    .left-content {
        height: 100%;
        .quadrado-hachurado {
            height: 100%;
        }
        .canto {
            height: 66%;
            transform: translate(-50px, 20px);
        }

        h1 {
            margin: 0;
            display: inline-block;
            height: 100%;
            line-height: 100%;
            transform: translateY(-40%);
        }

        @media only screen and (max-width: 540px) {
            &{
                display: flex;
                align-items: center;
            }
            img {
                display: none;
            }
            h1 {
                transform: none;
                height: initial;
            }
        }
    }
    .right-content {
        height: 100%;
        display: flex;
        align-items: center;
        float: right;
        gap: 10px;
        img {
            height: 40px;
        }
    }
}

main {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;

    .introduction {
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wrap-text {
            max-width: 500px;
            float: left;
            .welcome {
                font-size: 5em;
                margin: 0;
            }
            .about-me {
                border-left: #479AFA 2px solid;
                padding-left: 20px;
                p {
                    display: block;
                    margin-block-end: 10px;
                }
            }
        }

        @media only screen and (max-width: 740px) {
            img {
                display: none;
            }
        }
        img {
            height: 175px;
        }
    }
}


.container-expansive {
    padding: 10px;
    margin-bottom: 40px;
    
    .wrap-title {
        cursor: pointer;
        user-select: none;
        .icon-caret {
            font-size: 1.17em;
            margin-right: 5px;
            // transition: color ease-in 0.25s;
            &.active {
                transform: rotate(90deg);
                color: #479AFA;
            }
        }
        h3 {
            display: inline-block;
            font-size: 1.17em;
        }
    }

    .wrap-content {
        padding: 20px 40px 20px 40px;
        display: grid;
        gap: 35px 40px;
        justify-content: center;

        &.ocult {
            display: none;
        }

        .wrap-item {
            display: block;
            max-width: 250px;
            height: 130px;
            border-color: #FFF;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                // box-shadow: #479AFA 5px 5px 0px;
                transform: scale(1.02);
            }

            img {
                float: left;
                margin: 10px;
                width: 100px;
            }
            .wrap-text {
                padding-bottom: 10px;
                .title {
                    font-family: 'ClearSans-Regular';
                    margin-block-end: 5px;
                }
            }
        }
    }
}
.border {
    border: #ffffff 2px solid;
    border-radius: 10px;
    &.blue {
        border-color: #479AFA;
    }
}


.title-img {
    display: flex;
    justify-content: space-between;
    #canto-bolinhas {
        height: 100px;
        transform: translateY(60px);
    }
}


// Text
h1, h2, h3 {
    font-family: "ClearSans-Light";
    font-weight: inherit;
}
// h1, h2, h3, p {
//     display: inherit;
// }
h2 {
    margin-block: 0.83em;
    font-size: 3em;
}
h3 {
    margin-block: 0.83em;
    font-size: 2em;
    text-align: center;
}


@media (min-width: 687px) {
    .wrap-content {
        grid-template-columns: repeat(2, 250px);
    }
}
@media (min-width: 980px) {
    .introduction {
        img {
            height: 250px !important;
        }
    }
    .wrap-content {
        grid-template-columns: repeat(3, 250px);
    }
}
@media (min-width: 1260px) {
    .introduction {
        img {
            margin-right: 40px;
        }
    }
    .wrap-content {
        grid-template-columns: repeat(4, 250px);
    }
}