:root {
  --color-bg: #151515;
  --color-text: #ffffff;
  --color-primary: #479AFA;
}

@font-face {
  font-family: "ClearSans-Regular";
  src: url(../fonts/ClearSans/ClearSans-Regular.ttf);
}
@font-face {
  font-family: "ClearSans-Light";
  src: url(../fonts/ClearSans/ClearSans-Light.ttf);
}
@font-face {
  font-family: "ClearSans-Thin";
  src: url(../fonts/ClearSans/ClearSans-Thin.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "ClearSans-Thin";
  font-size: 18px;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar {
  max-width: 100%;
  height: 100px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
}
.navbar .left-content {
  height: 100%;
}
.navbar .left-content .quadrado-hachurado {
  height: 100%;
}
.navbar .left-content .canto {
  height: 66%;
  transform: translate(-50px, 20px);
}
.navbar .left-content h1 {
  margin: 0;
  display: inline-block;
  height: 100%;
  line-height: 100%;
  transform: translateY(-40%);
}
@media only screen and (max-width: 540px) {
  .navbar .left-content {
    display: flex;
    align-items: center;
  }
  .navbar .left-content img {
    display: none;
  }
  .navbar .left-content h1 {
    transform: none;
    height: initial;
  }
}
.navbar .right-content {
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
  gap: 10px;
}
.navbar .right-content img {
  height: 40px;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}
main .introduction {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .introduction .wrap-text {
  max-width: 500px;
  float: left;
}
main .introduction .wrap-text .welcome {
  font-size: 5em;
  margin: 0;
}
main .introduction .wrap-text .about-me {
  border-left: #479AFA 2px solid;
  padding-left: 20px;
}
main .introduction .wrap-text .about-me p {
  display: block;
  margin-block-end: 10px;
}
@media only screen and (max-width: 740px) {
  main .introduction img {
    display: none;
  }
}
main .introduction img {
  height: 175px;
}

.container-expansive {
  padding: 10px;
  margin-bottom: 40px;
}
.container-expansive .wrap-title {
  cursor: pointer;
  user-select: none;
}
.container-expansive .wrap-title .icon-caret {
  font-size: 1.17em;
  margin-right: 5px;
}
.container-expansive .wrap-title .icon-caret.active {
  transform: rotate(90deg);
  color: #479AFA;
}
.container-expansive .wrap-title h3 {
  display: inline-block;
}
.container-expansive .wrap-content {
  padding: 20px 40px 20px 40px;
  display: grid;
  gap: 35px 40px;
  justify-content: center;
}
.container-expansive .wrap-content.ocult {
  display: none;
}
.container-expansive .wrap-content .wrap-item {
  display: block;
  max-width: 250px;
  height: 130px;
  border-color: #FFF;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}
.container-expansive .wrap-content .wrap-item:hover {
  transform: scale(1.02);
}
.container-expansive .wrap-content .wrap-item img {
  float: left;
  margin: 10px;
  width: 100px;
}
.container-expansive .wrap-content .wrap-item .wrap-text {
  padding-bottom: 10px;
}
.container-expansive .wrap-content .wrap-item .wrap-text .title {
  font-family: "ClearSans-Regular";
  margin-block-end: 5px;
}

.border {
  border: #ffffff 2px solid;
  border-radius: 10px;
}
.border.blue {
  border-color: #479AFA;
}

h1, h2, h3 {
  font-family: "ClearSans-Light";
  font-weight: inherit;
}

h2 {
  margin-block: 0.83em;
  font-size: 3em;
}

@media (min-width: 687px) {
  .wrap-content {
    grid-template-columns: repeat(2, 250px);
  }
}
@media (min-width: 980px) {
  .introduction img {
    height: 250px !important;
  }
  .wrap-content {
    grid-template-columns: repeat(3, 250px);
  }
}
@media (min-width: 1260px) {
  .introduction img {
    margin-right: 40px;
  }
  .wrap-content {
    grid-template-columns: repeat(4, 250px);
  }
}

/*# sourceMappingURL=base.css.map */
